<div class="container my-5">
    <div class="mt-5 p-5 bg-dark">

        {{#each vehiclesArray}}
        <div class="row">
            <div class="col">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <p><strong>{{ this.carVinNum }}</strong></p>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div id="details-section">

                                <div class="row mt-2">
                                    <div class="col-6">Make: {{this.carMakeId}}</div>
                                    <div class="col-6">Model: {{this.carModelId}}</div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-6">Year: {{this.carYear}}</div>
                                    <div class="col-6">Milage: {{this.carMilage}}</div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-6">Color: {{this.carColor}}</div>
                                    <div class="col-6">Price: {{this.carPrice}}</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <button type="button" class="close carDeleteClass" data-dismiss="alert" aria-label="Close"
                        custom-attribute="{{this.id}}" id="deleteMakeItem">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>