<div class="container my-5">
    <div class="mt-5 p-5">
        <div class="row">
            <div class="col">
                <table class="table table-striped text-white" style="background-color: rgb(65, 80, 80, 0.8)">
                    <thead>
                        <tr>
                            <th>VIN</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Year</th>
                            <th>Milage</th>
                            <th>Color</th>
                            <th>Prices</th>
                            <th>Listed On</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each vehiclesArray}}
                        <tr>
                            <td>{{ this.carVinNum }}</td>
                            <td>{{this.make}}</td>
                            <td>{{ this.model }}</td>
                            <td>{{ this.carYear }}</td>
                            <td>{{ this.carMilage }}</td>
                            <td>{{ this.carColor }}</td>
                            <td>{{ this.carPrice }}</td>
                            <td>{{ this.createdAt }}</td>
                            <td>
                                <button type="button" class="btn btn-outline-danger btn-sm carDeleteClass"
                                    custom-attribute="{{this.id}}" id="deleteMakeItem">
                                    DELETE
                                </button>

                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>